.cart{
    width: 100%;
    max-width: 300px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 100px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    overflow:scroll;
    transform: translate(110%,0%);
    transition:ease 5ms ease;
}

.cart-active{
    transform: translate(0%,0%);
}

.cartResume{
    text-align: center;
    padding: 15px 10px;
}